.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: grey;
}

.nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
}

.nav > .btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.nav > ul > li > a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 18px;
}